@model ROBaspCore.Models.TechniqueModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TechniqueModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TechniqueGroupType" class="control-label"></label>
                <select asp-for="TechniqueGroupTypeId" onchange="filterGroups(this.value)" class="form-control" asp-items="ViewBag.TechniqueGroup">
                    <option value="">Select Group Type</option>
                </select>
                <span asp-validation-for="TechniqueGroupTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechniqueName" class="control-label"></label>
                <input asp-for="TechniqueName" class="form-control" />
                <span asp-validation-for="TechniqueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationLengthType" class="control-label"></label>
                <select asp-for="DurationLengthType" asp-items="Html.GetEnumSelectList<DurationLengthType>()" class="form-control"></select>
                <span asp-validation-for="DurationLengthType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label class="control-label">Prerequisite Techniques</label>
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<ROBaspCore.ViewModels.TechniquePrerequisiteData> prerequisites = ViewBag.PrerequisiteTechniques;

                                foreach (var prerequisite in prerequisites)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td class="groupId class_@prerequisite.TechniqueGroupId" style="display: none">
                                        <input type="checkbox"
                                               name="prerequisiteTechniques"
                                               value="@prerequisite.TechniqueId"
                                               @(Html.Raw(prerequisite.IsPrerequisite ? "checked=\"checked\"" : "")) />
                                        @prerequisite.TechniqueName
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label class="control-label">Prerequisite Talents</label>
                        <table>
                            <tr>
                                @{
                                    cnt = 0;
                                    List<ROBaspCore.ViewModels.AssignedTechniqueTalentPrereq> talentPrerequisites = ViewBag.PrerequisiteTalents;

                                    foreach (var prerequisite in talentPrerequisites)
                                    {
                                        if (cnt++ % 3 == 0)
                                        {
                                        @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                                   name="prerequisiteTalents"
                                                   value="@prerequisite.TalentId"
                                                   @(Html.Raw(prerequisite.IsPrerequisite ? "checked=\"checked\"" : "")) />
                                            @prerequisite.TalentName
                                        @:</td>
                                    }
                                @:</tr>
                                }
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            @{await Html.RenderPartialAsync("_GeneralScripts");}
        }
