@model IEnumerable<ROB.Web.Models.RaceModel>

@{
    ViewData["Title"] = "Race";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="align-self-center col-lg-6 col-md-10 col-sm-12">
            <br />
            <h2 class="text-light">Race Selection</h2>
            <!-- Race Selection-->
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide">
                    <ol class="carousel-indicators">
                        @{
                            int i = 0;
                            string classModifier = "";
                        }
                        @foreach (var item in Model)
                        {
                            classModifier = i == 0 ? "class=active" : "";
                            <li data-target="#carouselExampleCaptions" data-slide-to="@i" @classModifier></li>
                            i += 1;
                        }
                    </ol>
                    <div class="carousel-inner">
                        @{
                            i = 0;
                            string displayName = "";
                        }
                        @foreach (var item in Model)
                        {
                            displayName = item.Name + ".png"; // IMAGES MUST BE NAMED PROPERLY
                            classModifier = i == 0 ? "active" : "";
                            <div class="carousel-item @classModifier">
                                <img src="~/images/race/@displayName" class="d-block w-100" alt="@Html.DisplayFor(modelItem => item.Name) image">
                                <div class="carousel-caption d-md-block text-right cu-carosel-bg-plate">
                                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                                    <blockquote class="blockquote">
                                        <p class="mb-0">@Html.DisplayFor(modelItem => item.DescriptionBrief)</p>
                                        <footer class="mb-0">
                                            Attribute Modifiers:
                                            <cite title="Source Title">
                                                @*@{
                                                        foreach (var attributeMod in item.AttributeModifiers)
                                                        {
                                                            <span>@Html.DisplayFor(modelItem => attributeMod.AttributeType):</span>
                                                        }
                                                    }*@
                                            </cite>
                                        </footer>
                                    </blockquote>
                                    <div>
                                        <a href="./Recommended.html" class="btn btn-dark">Select @Html.DisplayFor(modelItem => item.Name)</a>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            i += 1;
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
