@model IEnumerable<ROB.Web.Models.PUBConGameModel>
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Game Dashboard";
}

@section Styles {
    @{await Html.RenderPartialAsync("_PUGConStylesPartial");}
}

<div class="body2 pug-bg"></div>
<div class="container">
    <div class="sans-serif-font1">
        <div class="row pad-top-20">
            <div class="col-4">
                <p class="text-uppercase sans-serif-font2">Upcoming Games</p>
            </div>
            <div class="col-2 text-right"><a class="btn btn-link" asp-action="TermsOfConduct">Code Of Conduct</a></div>
            <div class="col-2 text-right"><button class="btn btn-link" type="button">Event Details</button></div>
            <div class="col-4 text-right"><a class="btn btn-light" asp-action="CreateGame">Create New</a></div>
            <div class="col-12">
                <p class="text-uppercase text-center sans-serif-font2"><strong>PUG Game Day CON</strong></p>
                <p class="text-uppercase text-center sans-serif-font2"><strong>Dashboard</strong></p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center articles" style="/*margin-top: 200px;*/">
            @if (Model.Count() == 0)
            {
                <h3>No Games Have Been Created Yet :(</h3>
            }
            @foreach (var game in Model)
            {
                bool isSignedUp = false;
                var userId = userManager.GetUserId(User);
                foreach (var player in game.Players)
                {
                    if (player.UserId == userId) isSignedUp = true;
                }

                var playerCount = game.Players.Count();
                var maxPlayers = game.MaximumPlayers;
                var btnClass = "btn-success";
                var btnSignUpText = "Sign Up";
                if (playerCount >= (maxPlayers - 2))
                {
                    btnClass = "btn-warning";
                    btnSignUpText = "Sign Up Quick!";
                }
                else if (playerCount >= maxPlayers)
                {
                    btnClass = "btn-dark disabled";
                    btnSignUpText = "Full Party";
                }
                <div class="col-sm-6 col-md-4 box-border1">
                    <h3 class="text-left" title="Click to show game details!">
                        <a asp-action="GameDetails" asp-route-id="@game.Id">@game.EventTitle</a>
                        <a asp-action="GameDetails" asp-route-id="@game.Id">
                            &nbsp;
                            <i class="fa fa-eye" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" data-bs-hover-animate="flash" title="Game Details!"></i>
                        </a>
                    </h3>
                    <p class="text-left">GM: @game.GameMaster</p>
                    <p class="text-left" style="color: #dfa34e;">Date: @game.EventDate.ToString("f", System.Globalization.DateTimeFormatInfo.InvariantInfo)</p>
                    <p class="text-left">Reserved: @game.Players.Count() / @game.MaximumPlayers</p>
                    @if (isSignedUp)
                    {
                        <a class="btn btn-dark text-left" asp-action="LeaveGame" asp-route-id="@game.Id">Leave Game</a>
                    }
                    else
                    {
                        <a class="btn @btnClass text-left" asp-action="JoinGame" asp-route-id="@game.Id">@btnSignUpText</a>
                    }
                </div>
            }
        </div>
    </div>
    <div class="text-center box-border2">
        <div class="row justify-content-center align-items-center pad-top-20">
            <div class="col-12">
                <p style="margin-bottom: 0px;">Fantasy Ground Pickup Game VTT Con&nbsp;</p>
                <p style="margin-bottom: 0px;">Sponsered by:</p>
            </div>
            @*<div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/PUG-Logo.png"></div>*@
            <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/UB_Logo2.png"></div>
            <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/Bethica_logo_edited_final.png"></div>
            <div class="col text-center"><img class="img-fluid" src="~/images/_BStudio/PUGCon/UB Unlimited-02.png"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_PUGConScriptPartial");}
}