@model ROB.Web.Models.ArmorRestrictionModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArmorRestrictionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FeatValuePenalty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FeatValuePenalty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CastingPenalty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CastingPenalty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvasionPenalty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvasionPenalty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MovementPenalty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovementPenalty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
