@model IEnumerable<ROB.Web.Models.CharacterSheetModel>
@{
    ViewData["Title"] = "Character Sheet Manager";
}

<h2 class="text-light">Character Sheets</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem; margin:15px;">
                <div class="card-body">
                    <h5 class="card-title">Name: @item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Level: @item.Level.ToString()</h6>
                    @if (item.Race != null)
                    {
                        <p class="card-text">Race: @item.Race.Name</p>
                        int spaceIndex = item.Race.Description.IndexOf(" ", 100);
                        <p class="card-text">@item.Race.Description.Substring(0, spaceIndex) . . .</p>
                    }
                    <a class="btn btn-primary" asp-action="CharacterSheet" asp-route-id="@item.Id">View</a> |
                    <a class="btn btn-primary" asp-action="RaceSelection" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
