@model ROB.Web.Models.CharacterSheetModel
@{
    ViewData["Title"] = "Character Sheet";
}

<br />
<div>
    <input hidden data-variable="BASE_STR" data-priority="1" data-expression="LVL = 1" data-expression-enabled="true" value="0" />
    <input hidden data-variable="LVL" data-priority="2" data-expression="LVL = 1" value="0" />
    <div data-variable="LVL"></div>
    <input hidden data-variable="STR" data-expression="STR = BASE_STR + (LVL * 2) - 2" value="0" />
    <div data-variable="STR"></div>
    <input hidden data-variable="HP" data-expression="HP = 110" value="0" />
    <div data-variable="HP"></div>


    <input hidden data-variable="ITEM_1" data-expression="HP = HP + 20" value="0" />
    <div>ITEM 1</div>
    <!-- Character Name -->
    <div id="sheetId" data-id="@Model.Id"></div>
    <div class="row border rounded card">
        <h1 id="characterName">@Model.Name</h1>
    </div>
    <div class="row border rounded card">
        <div class="col-12" onclick="sideBarLevel()">
            <span class="font-weight-bold">Level: </span>
            <input id="level" name="level" type="hidden" value="@Model.Level" readonly />
            <span id="levelDisplay">@Model.Level</span>
        </div>
        <div class="col-12" onclick="sideBarLuck()">
            <span class="font-weight-bold">Luck: </span>
            <input id="luck" name="luck" type="hidden" value="@Model.Race.Luck" readonly />
            <span id="luckDisplay">@Model.Race.Luck</span>
        </div>
        <div class="col-12 col-md-2">
            <span class="font-weight-bold">Race: </span>
            <input id="race" name="race" type="hidden" value="@Model.RaceId" readonly />
            <span id="raceDisplay">@Model.Race.Name</span>
        </div>
        <div class="col-12 col-md-2">
            <span class="font-weight-bold">Size: </span>
            <input id="size" name="size" type="hidden" value="@Model.Race.Size" readonly />
            <span id="sizeDisplay">@Model.Race.Size</span>
        </div>
        <div class="col-12 col-md-2">
            <span class="font-weight-bold">Alignment: </span>
            <input id="alignment" name="alignment" type="hidden" value="11" readonly />
            <span id="alignmentDisplay">Light</span>
        </div>
    </div>

    <!-- Attributes -->
    <div class="row">
        <main-attribute name="Strength" variable="strength" base-value="@Model.Strong" modifier-value="@Model.StrongModifier"></main-attribute>
        <main-attribute name="Fortitude" variable="fortitude" base-value="@Model.Robust" modifier-value="@Model.RobustModifier"></main-attribute>
        <main-attribute name="Dexterity" variable="dexterity" base-value="@Model.Agile" modifier-value="@Model.AgileModifier"></main-attribute>
        <main-attribute name="Accuracy" variable="accuracy" base-value="@Model.Precision" modifier-value="@Model.PrecisionModifier"></main-attribute>
        <main-attribute name="Intellect" variable="intellect" base-value="@Model.Knowledgeable" modifier-value="@Model.KnowledgeableModifier"></main-attribute>
        <main-attribute name="Resolve" variable="resolve" base-value="@Model.Headstrong" modifier-value="@Model.HeadstrongModifier"></main-attribute>
        <main-attribute name="Influence" variable="influence" base-value="@Model.Charismatic" modifier-value="@Model.CharismaticModifier"></main-attribute>
        <main-attribute name="Demeanor" variable="demeanor" base-value="@Model.Attractive" modifier-value="@Model.AttractiveModifier"></main-attribute>
    </div>

    <!-- Everything Else -->
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col border rounded card">
                    <span class="font-weight-bold">Movement</span>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            Walk
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="walk" name="walk" type="hidden" value="@Model.Race.Walk" readonly />
                            <input id="walkModifier" name="walkModifier" type="hidden" value="0" readonly />
                            <div id="walkDisplay">@Model.Race.Walk</div>
                        </div>

                        <div class="col-6 col-md-4">
                            Tactical
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="tactical" name="tactical" type="hidden" value="@Model.Race.Tactical" readonly />
                            <input id="tacticalModifier" name="tacticalModifier" type="hidden" value="0" readonly />
                            <div id="tacticalDisplay">@Model.Race.Tactical</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            Sprint
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="sprint" name="sprint" type="hidden" value="@Model.Race.Sprint" readonly />
                            <input id="sprintModifier" name="sprintModifier" type="hidden" value="0" readonly />
                            <div id="sprintDisplay">@Model.Race.Sprint</div>
                        </div>
                        <div class="col-6 col-md-4">
                            Reaction
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="reaction" name="reaction" type="hidden" value="0" readonly />
                            <input id="reactionModifier" name="reactionModifier" type="hidden" value="0" readonly />
                            <div id="reactionDisplay">0</div>
                        </div>
                    </div>
                </div>
                <div class="col border rounded card">
                    <span class="font-weight-bold">Awareness</span>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            Listen
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="listen" name="listen" type="hidden" value="0" readonly />
                            <input id="listenModifier" name="listenModifier" type="hidden" value="0" readonly />
                            <div id="listenDisplay">0</div>
                        </div>
                        <div class="col-6 col-md-4">
                            Vision
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="vision" name="vision" type="hidden" value="0" readonly />
                            <input id="visionModifier" name="visionModifier" type="hidden" value="0" readonly />
                            <div id="visionDisplay">0</div>
                        </div>
                        <div class="col-6 col-md-4">
                            Smell
                        </div>
                        <div class="col-6 col-md-8">
                            <input id="smell" name="smell" type="hidden" value="0" readonly />
                            <input id="smellModifier" name="smellModifier" type="hidden" value="0" readonly />
                            <div id="smellDisplay">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Vital Aspects -->
            <div class="row">
                <div class="col-lg border rounded card align-self-center">
                    <span class="font-weight-bold">Vital Aspects</span>
                    <div class="row">
                        <div class="col">
                            BP
                        </div>
                        <div class="col">
                            <input id="bp" name="bp" type="hidden" value="0" readonly />
                            <input id="bpMax" name="bpMax" type="hidden" value="0" readonly />
                            <input id="bpModifier" name="bpModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('bp',-1)"></i> <span id="bpDisplay">0 / 0</span> <i onclick="addValue('bp',1)" class="fas fa-plus-square"></i></span>
                        </div>
                        <div class="col">
                            HPB
                        </div>
                        <div class="col">
                            <input id="hpb" name="hpb" type="hidden" value="0" readonly />
                            <input id="hpbMax" name="hpbMax" type="hidden" value="0" readonly />
                            <input id="hpbModifier" name="hpbModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('hpb',-1)"></i> <span id="hpbDisplay">0 / 0</span> <i onclick="addValue('hpb',1)" class="fas fa-plus-square"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            CP
                        </div>
                        <div class="col">
                            <input id="cp" name="cp" type="hidden" value="0" readonly />
                            <input id="cpMax" name="cpMax" type="hidden" value="0" readonly />
                            <input id="cpModifier" name="cpModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('cp',-1)"></i> <span id="cpDisplay">0 / 0</span> <i onclick="addValue('cp',1)" class="fas fa-plus-square"></i></span>
                        </div>
                        <div class="col">
                            MHP
                        </div>
                        <div class="col">
                            <input id="mhp" name="mhp" type="hidden" value="0" readonly />
                            <input id="mhpMax" name="mhpMax" type="hidden" value="0" readonly />
                            <input id="mhpModifier" name="mhpModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('mhp',-1)"></i> <span id="mhpDisplay">0 / 0</span> <i onclick="addValue('mhp',1)" class="fas fa-plus-square"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            DTH
                        </div>
                        <div class="col">
                            <input id="dth" name="dth" type="hidden" value="0" readonly />
                            <input id="dthMax" name="dthMax" type="hidden" value="0" readonly />
                            <input id="dthModifier" name="dthModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('dth',-1)"></i> <span id="dthDisplay">0 / 0</span> <i onclick="addValue('dth',1)" class="fas fa-plus-square"></i></span>
                        </div>
                        <div class="col">
                            OP
                        </div>
                        <div class="col">
                            <input id="op" name="op" type="hidden" value="0" readonly />
                            <input id="opMax" name="opMax" type="hidden" value="0" readonly />
                            <input id="opModifier" name="opModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('op',-1)"></i> <span id="opDisplay">0 / 0</span> <i onclick="addValue('op',1)" class="fas fa-plus-square"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            HP
                        </div>
                        <div class="col">
                            <input id="hp" name="hp" type="hidden" value="0" readonly />
                            <input id="hpMax" name="hpMax" type="hidden" value="0" readonly />
                            <input id="hpModifier" name="hpModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('hp',-1)"></i> <span id="hpDisplay">0 / 0</span> <i onclick="addValue('hp',1)" class="fas fa-plus-square"></i></span>
                        </div>
                        <div class="col">
                            FP
                        </div>
                        <div class="col">
                            <input id="fp" name="fp" type="hidden" value="0" readonly />
                            <input id="fpMax" name="fpMax" type="hidden" value="0" readonly />
                            <input id="fpModifier" name="fpModifier" type="hidden" value="0" readonly />
                            <span><i class="fas fa-minus-square" onclick="addValue('fp',-1)"></i> <span id="fpDisplay">0 / 0</span> <i onclick="addValue('fp',1)" class="fas fa-plus-square"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Defenses -->
            <div class="row">
                <div class="col-lg border rounded card align-self-center">
                    <span class="font-weight-bold">Defenses</span>
                    <div class="row">
                        <div class="col">
                            Evasion
                        </div>
                        <div class="col">
                            <input id="evasion" name="evasion" type="hidden" value="0" readonly />
                            <input id="evasionModifier" name="evasionModifier" type="hidden" value="0" readonly />
                            <div id="evasionDisplay">0</div>
                        </div>
                        <div class="col">
                            Dodge
                        </div>
                        <div class="col">
                            <input id="dodge" name="dodge" type="hidden" value="0" readonly />
                            <input id="dodgeModifier" name="dodgeModifier" type="hidden" value="0" readonly />
                            <div id="dodgeDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            DR
                        </div>
                        <div class="col">
                            <input id="dr" name="dr" type="hidden" value="0" readonly />
                            <input id="drModifier" name="drModifier" type="hidden" value="0" readonly />
                            <div id="drDisplay">0</div>
                        </div>
                        <div class="col">
                            PDR
                        </div>
                        <div class="col">
                            <input id="pdr" name="pdr" type="hidden" value="0" readonly />
                            <input id="pdrModifier" name="pdrModifier" type="hidden" value="0" readonly />
                            <div id="pdrDisplay">0</div>
                        </div>
                    </div>
                    <br />
                    <span class="font-weight-bold">Saving Throws</span>
                    <div class="row">
                        <div class="col-4 col-md-3">
                            STR-Save
                        </div>
                        <div class="col-8 col-md-1">
                            <input id="strengthsave" name="strengthsave" type="hidden" value="0" readonly />
                            <input id="strengthsaveModifier" name="strengthsaveModifier" type="hidden" value="0" readonly />
                            <div id="strengthsaveDisplay">0</div>
                        </div>
                        <div class="col-4 col-md-3">
                            FOR-Save
                        </div>
                        <div class="col-8 col-md-1">
                            <input id="fortitudesave" name="fortitudesave" type="hidden" value="0" readonly />
                            <input id="fortitudesaveModifier" name="fortitudesaveModifier" type="hidden" value="0" readonly />
                            <div id="fortitudesaveDisplay">0</div>
                        </div>
                        <div class="col-4 col-md-3">
                            RES-Save
                        </div>
                        <div class="col-8 col-md-1">
                            <input id="resolvesave" name="resolvesave" type="hidden" value="0" readonly />
                            <input id="resolvesaveModifier" name="resolvesaveModifier" type="hidden" value="0" readonly />
                            <div id="resolvesaveDisplay">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border rounded card">
                    <div class="row">
                        <div class="col font-weight-bold">
                            Train
                        </div>
                        <div class="col font-weight-bold">
                            Mod
                        </div>
                        <div class="col font-weight-bold">
                            Parent Skill
                        </div>
                        <div class="col font-weight-bold">
                            FV
                        </div>
                    </div>
                    <div class="row">
                        @{ string checkBox = ""; }
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Artisan"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            <input id="artisanProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Dex/Int
                        </div>
                        <div class="col">
                            Artisan
                        </div>
                        <div class="col">
                            <input id="artisan" name="artisan" type="hidden" value="0" readonly />
                            <input id="artisanModifier" name="artisanModifier" type="hidden" value="0" readonly />
                            <div id="artisanDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Athletics"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="athleticsProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Str/Dex
                        </div>
                        <div class="col">
                            Athletics
                        </div>
                        <div class="col">
                            <input id="athletics" name="athletics" type="hidden" value="0" readonly />
                            <input id="athleticsModifier" name="athleticsModifier" type="hidden" value="0" readonly />
                            <div id="athleticsDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Awareness"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="awarenessProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Int/Res
                        </div>
                        <div class="col">
                            Awareness
                        </div>
                        <div class="col">
                            <input id="awareness" name="awareness" type="hidden" value="0" readonly />
                            <input id="awarenessModifier" name="awarenessModifier" type="hidden" value="0" readonly />
                            <div id="awarenessDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Knowledge"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="knowledgeProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Int/Res
                        </div>
                        <div class="col">
                            Knowledge
                        </div>
                        <div class="col">
                            <input id="knowledge" name="knowledge" type="hidden" value="0" readonly />
                            <input id="knowledgeModifier" name="knowledgeModifier" type="hidden" value="0" readonly />
                            <div id="knowledgeDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Nature"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="natureProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Int/Res
                        </div>
                        <div class="col">
                            Nature
                        </div>
                        <div class="col">
                            <input id="nature" name="nature" type="hidden" value="0" readonly />
                            <input id="natureModifier" name="natureModifier" type="hidden" value="0" readonly />
                            <div id="natureDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Social"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="socialProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Soc/Dem
                        </div>
                        <div class="col">
                            Social
                        </div>
                        <div class="col">
                            <input id="social" name="social" type="hidden" value="0" readonly />
                            <input id="socialModifier" name="socialModifier" type="hidden" value="0" readonly />
                            <div id="socialDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Subterfuge"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="subterfugeProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Dex/Int
                        </div>
                        <div class="col">
                            Subterfuge
                        </div>
                        <div class="col">
                            <input id="subterfuge" name="subterfuge" type="hidden" value="0" readonly />
                            <input id="subterfugeModifier" name="subterfugeModifier" type="hidden" value="0" readonly />
                            <div id="subterfugeDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Melee"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="meleeProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Str/Dex
                        </div>
                        <div class="col">
                            Melee Wpn
                        </div>
                        <div class="col">
                            <input id="melee" name="melee" type="hidden" value="0" readonly />
                            <input id="meleeModifier" name="meleeModifier" type="hidden" value="0" readonly />
                            <div id="meleeDisplay">0</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @if (Model.ParentSkills.Any(w => w.ParentSkill.Name == "Range"))
                            {
                                checkBox = "checked=\"checked\"";
                            }
                            else
                            {
                                checkBox = "";
                            }
                            <input id="rangeProficient" onclick="recalculateAll()" type="checkbox" @checkBox aria-label="is trained">
                        </div>
                        <div class="col">
                            Acc/Int
                        </div>
                        <div class="col">
                            Range Wpn
                        </div>
                        <div class="col">
                            <input id="range" name="range" type="hidden" value="0" readonly />
                            <input id="rangeModifier" name="rangeModifier" type="hidden" value="0" readonly />
                            <div id="rangeDisplay">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 border rounded card">
            <!-- Nav Buttons -->
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#actions">Actions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#child_skills">Child-Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#techniques">Techniques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#talents">Talents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#racial_traits">Racial Traits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#spells">Spells</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#equipment">Equipment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#description">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#notes">Notes</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="actions" class="container tab-pane active">
                    <br>
                    <h3>Actions</h3>
                    <p>This will display the actions.</p>
                </div>
                <div id="child_skills" class="container tab-pane fade">
                    <br>
                    <h3>Child-Skills</h3>
                    <br />
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            Feat Value (FV)
                        </div>
                    </div>
                    @foreach (var item in Model.ChildSkills)
                    {
                        <div class="row">
                            <div class="col">
                                <input type="checkbox"
                                       name="assignedRaces"
                                       value="@item.ChildSkill.Id"
                                       checked="checked" />
                                <a class="btn btn-primary" data-toggle="collapse" href="#childCollapse_@item.ChildSkill.Id" role="button" aria-expanded="false" aria-controls="collapseExample">@item.ChildSkill.Name</a>
                            </div>

                            <div class="col">
                                <input id="range" name="range" type="hidden" value="0" readonly />
                                <input id="rangeModifier" name="rangeModifier" type="hidden" value="0" readonly />
                                <div id="rangeDisplay">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="childCollapse_@item.ChildSkill.Id">
                                <div class="card card-body">
                                    @item.ChildSkill.Description
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="techniques" class="container tab-pane fade">
                    <br>
                    <h3>Techniques</h3>
                    <br />
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            Feat Value (FV)
                        </div>
                    </div>
                    @foreach (var item in Model.Techniques)
                    {
                        <div class="row">
                            <div class="col">
                                <input type="checkbox"
                                       name="assignedRaces"
                                       value="@item.Technique.Id"
                                       checked="checked" />
                                <a class="btn btn-primary" data-toggle="collapse" href="#techniqueCollapse_@item.Technique.Id" role="button" aria-expanded="false" aria-controls="collapseExample">@item.Technique.TechniqueName</a>
                            </div>

                            <div class="col">
                                <input id="range" name="range" type="hidden" value="0" readonly />
                                <input id="rangeModifier" name="rangeModifier" type="hidden" value="0" readonly />
                                <div id="rangeDisplay">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="techniqueCollapse_@item.Technique.Id">
                                <div class="card card-body">
                                    @item.Technique.Description
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="talents" class="container tab-pane fade">
                    <br>
                    <h3>Talents</h3>
                    <div class="row">
                        <div class="col">
                            Name
                        </div>
                        <div class="col">
                            Feat Value (FV)
                        </div>
                    </div>
                    @foreach (var item in Model.Talents)
                    {
                        <div class="row">
                            <div class="col">
                                <input type="checkbox"
                                       name="assignedRaces"
                                       value="@item.Talent.Id"
                                       checked="checked" />
                                <a class="btn btn-primary" data-toggle="collapse" href="#talentCollapse_@item.Talent.Id" role="button" aria-expanded="false" aria-controls="collapseExample">@item.Talent.Name</a>
                            </div>
                            <div class="col">
                                <input id="range" name="range" type="hidden" value="0" readonly />
                                <input id="rangeModifier" name="rangeModifier" type="hidden" value="0" readonly />
                                <div id="rangeDisplay">0</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="collapse" id="talentCollapse_@item.Talent.Id">
                                <div class="card card-body">
                                    @item.Talent.Description
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="racial_traits" class="container tab-pane fade">
                    <br>
                    <h3>Racial Traits</h3>
                    <p>Here you will find your racial_traits.</p>
                </div>
                <div id="spells" class="container tab-pane fade">
                    <br>
                    <h3>Spells</h3>
                    <p>Here you will find your spells.</p>
                </div>
                <div id="equipment" class="container tab-pane fade">
                    <br>
                    <h3>Equipment</h3>
                    <p>Here you will find your equipment.</p>
                </div>
                <div id="description" class="container tab-pane fade">
                    <br>
                    <h3>Description</h3>
                    <div contenteditable="true" style="width: 100%;">Type new descriptions here</div>
                </div>
                <div id="notes" class="container tab-pane fade">
                    <br>
                    <h3>Notes</h3>
                    <div contenteditable="true" style="width: 100%;">Type new notes here.</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CharacterSheetScriptsPartial");}
}