@model ROB.Web.Models.ShieldModel

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>ShieldModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefensePoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefensePoints)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PenetrationDefenseRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PenetrationDefenseRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EvasionModifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EvasionModifier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
